:root{

  --primary-red:#d62828;
  --primary-blue:#1976d2;
  --primary-yellow:#ffd60a;

  --background:#f8f9fa;

  --white:#ffffff;
  --black:#111111;

  --success:#2ecc71;
  --warning:#f39c12;
  --danger:#e63946;

  --shadow:0 8px 25px rgba(0,0,0,.08);

}